.main{

    background-color: rgb(255, 136, 0);
    width: 500px;
    height: 700px;
}
.img{

    width: 150px;
    height: 160px;
    margin-top: 10px;
    /* margin-left: 50px; */
    /* justify-content: center;
    justify-items: center; */
    margin-left: 50px;
}